.register-wrapper {
    width: 60%;
    height: 100%;
    margin: 100px auto;
}

@media only screen and (max-width: 599px) {
    .register-wrapper {
        width: 90%;
    }
}

.input-error {
    width: 100%;
    text-align: center;
    color: #B71C1C ;
    background-color: #FFEBEE;
    padding: 10px;
    border-radius: 4px;
    display: none;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}