.search-row {
    background-image: url(./search-background-blur.png);
    padding-bottom: 30px;
}

.search-bar {
    width: 100%;
    height: 120px;
    margin-bottom: 20px;
}

.search-wrapper {
    width: 80%;
    margin: auto;
    padding-top: 30px;
    height: inherit;
}

#search-intro {
    text-align: center;
    margin-bottom: 20px;
}

#search-intro p {
    font-size: 35px;
    font-weight: 900;
    padding-bottom: 0;
    margin-bottom: 25px;
}

#search-intro hr {
    width: 10%;
    color: #49A9D6;
    border: 1px solid;
}

#search-intro span {
    font-size: 20px;
    font-weight: 500;
}