.claimation-wrapper {
    width: 60%;
    height: 100%;
    margin: 100px auto;
}

@media only screen and (max-width: 599px) {
    .claimation-wrapper {
        width: 90%;
    }
}

.claimation-error {
    color: #b71c1c;
}