.card-panel {
    color: #FFFFFF;
    padding: 10px 20px;
}

.inform {
    padding: 10px 20px;
    width: 50%;
    margin: 100px auto;
    color: #0D0D0D;
    background-image: linear-gradient(to bottom, #d1c4e9, #ffcdd2);
}

.inform h5 {
    font-weight: bold;
}

.inform h5 i {
    color: #6200ea  ;
}

@media screen and (max-width: 600px) {
    .inform {
        width: 80%;
    }
}

.alert-close {
    color: white;
    cursor: pointer;
}

.avatar-round {
    border-radius: 50%;
}

.search {
    width: 100%;
    position: relative;
    display: flex;
}
  
.search-field {
    width: 100%;
    height: 45px !important;
    border: 1px solid #00B4CC !important;
    border-right: none;
    padding-left: 10px !important;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #787878;
}

.search-field:focus {
    box-shadow: none !important;
}
  
.search-field-icon {
    width: 38px;
    height: 47px;
    border: 1px solid #49A9D6;
    background: #49A9D6;
    text-align: center;
    color: #fff;
    border-radius: 4px 0 0 4px;
    font-size: 23px;
    writing-mode: inherit;
    -webkit-writing-mode: vertical-lr;
}

.search-field-btn-icon {
    width: 38px;
    height: 47px;
    border: none;
    background: #EA8F61;
    text-align: center;
    color: #fff;
    border-radius: 4px 0 0 4px;
    font-size: 23px;
    cursor: pointer;
    writing-mode: inherit;
    -webkit-writing-mode: vertical-lr;
}

.search .select-wrapper {
    width: 100%;
    padding-right: 12px;
}

.search .select-dropdown {
    border: 1px solid #00B4CC !important;
    padding-left: 10px !important;
    outline: none;
}

.search-btn {
    height: 46px !important;
}