.showcase-wrapper {
    width: 80%;
    margin: 50px auto;
}

.listings-wrapper {
    margin-top: 2px;
    padding: 0;
    width: 100%;
}

.card-title {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    line-height: 20px !important;
    font-size: 16px !important;
    font-weight: bold !important;
}

.listing-tag {
    font-size: 13px;
    margin: 0;
    margin-bottom: -10px !important;
}

.price-tag {
    background-color: rgb(215, 215, 215, 0.8);
    color: #0D0D0D !important;
    padding: 5px 8px !important;
}

small {
    color: #3D3D3D;
    font-size: 13px;
    text-decoration: line-through;
    margin-right: 5px;
}

.emphasis {
    color: #FF0033;
    font-size: 10px;
    padding: 0;
    margin: 0;
    text-align: right;
}

.row {
    margin: 0;
    line-height: 30px;
}