.sitemap-wrapper {
    width: 100%;
    background-color: #1C5E7D;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 16px;
    padding: 30px 10px;
    color: whitesmoke;
}

.sitemap-wrapper h6 {
    font-size: 20px;
    margin-bottom: 15px;
}

.sitemap-wrapper a {
    color: #EA8F61;
}

.sitemap-wrapper a:hover {
    color: #EFA681;
}

.address {
    font-size: 12px;
    font-weight: lighter;
    line-height: 20px;
}

.tree-layout {
    margin-top: 0;
    font-size: 12px;
    font-weight: lighter;
    line-height: 20px;
}