.profile-wrapper {
    width: 80%;
    margin: auto;
    margin-bottom: 50px;
}

.profile-content {
    margin-top: 30px;
    margin-bottom: 30px;
}

.profile-content h5 {
    font-weight: 700;
    margin-bottom: 5px;
}

.profile-content hr {
    width: 35%;
    margin-left: 0;
}

@media screen and (max-width: 992px) {
    .profile-content hr {
        width: 50%;
    }
}

@media screen and (max-width: 600px) {
    .profile-content hr {
        width: 80%;
    }
}

.content-container {
    padding: 5px 15px;
}

.content-caption {
    font-weight: 600;
    margin: 30px auto;
}

.link-text {
    cursor: pointer;
}

.link-text:hover {
    color: #EA8F61;
}

.self-intro {
    max-height: 600px;
    overflow-y: scroll;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.bioshow {
    margin: 0;
}

.self-intro-box {
    margin-bottom: 20px;
    padding: 10px 15px;
    border: 0.5px solid #49A9D6;
    border-radius: 4px;
}

.last-col {
    margin: 10px 0;
}

.address-list {
    height: 400px;
    width: 100%;
    overflow-y: scroll;
}

.address-row {
    width: 100%;
    min-height: 115px;
    padding: 3px 7px;
    border-bottom: 1px solid #CCC;
    overflow: hidden;
    position: relative;
}

.address-row h6 {
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 0;
}

.address-row p {
    margin-top: 5px;
    font-size: small;
    line-height: 20px;
    padding-bottom: 15px;
}

.address-row:hover {
    background-color: #EEE;
}

.add-address-row {
    background-color: #EA8F61;
    text-align: center;
    text-transform: uppercase;
    height: 40px;
    line-height: 40px;
    border-radius: 4px;
}

.add-address-row:hover {
    background-color: #EFA681;
    cursor: pointer;
}

.address-map {
    height: 400px;
    width: 100%;
}

.ribbon-primary {
    margin: 0;
    padding: 0;
    background: #49A9D6;
    color:white;
    padding: 0;
    position: absolute;
    top:0;
    right:0;
    transform: translateX(30%) translateY(0%) rotate(45deg);
    transform-origin: top left;
}

.ribbon-secondary {
    margin: 0;
    padding: 0;
    background: #EA8F61;
    color:white;
    padding: 0;
    position: absolute;
    top:0;
    right:0;
    transform: translateX(30%) translateY(0%) rotate(45deg);
    transform-origin: top left;
}

.ribbon-primary:before, .ribbon-primary:after {
    content: '';
    position: absolute;
    top:0;
    margin: 0 -1px;
    width: 100%;
    height: 100%;
    background: #49A9D6;
}

.ribbon-secondary:before, .ribbon-secondary:after {
    content: '';
    position: absolute;
    top:0;
    margin: 0 -1px;
    width: 100%;
    height: 100%;
    background: #EA8F61;
}

.ribbon:before {
    right:100%;
}
  
.ribbon:after {
    left:100%;
}

.address-edit {
    right: 60%;
    bottom: 0;
    position: absolute;
    cursor: pointer;
}

.address-delete {
    right: 40%;
    bottom: 0;
    position: absolute;
    cursor: pointer;
}

.dropzone {
    background-color: #EBEBEB;
    border: 2px dashed #D6D6D6;
}