.navbar-auth {
    background-color: whitesmoke;
    padding-left: 20px;
    padding-right: 20px;
    color: #0D0D0D;
    margin: 0;
    box-shadow: 0 2px 4px rgba(0,0,0,0.12), 0 2px 3px rgba(0,0,0,0.24);
}

.navbar-auth span {
    cursor: pointer;
}

.navbar-auth i {
    font-size: small;
    cursor: pointer;
}

.navbar-expand {
    background-color: whitesmoke;
    margin: 0;
    border-top: 1px solid #ccc;
}